.counter {
  width: 100%;
  padding: 20px;
  border: 1px solid gray;
}

.name {
  padding: 20px;
  width: 100%;
  border: 1px solid gray;
}

.wrapper {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
}

input,
textarea,
button {
  border: 1px solid gray;
}

input {
  height: 30px;
}

textarea {
  height: 200px;
}

button {
  cursor: pointer;
}
